<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #bdc3c7, #2c3e50);
    }

    .form {
        width: 100%
    }
</style>

<div class="login-page" style="width: 80vw">
    <div class="form">
        <div style="display: flex;justify-content: space-between;margin-bottom:15px">
            <a href="/admin"><button style="background: rgb(206, 16, 16);"> Back</button></a>
            <h2 class="title" style="color: #2c3e50;"> Inbox </h2>
            <div></div>
        </div>
        {{#if inbox}}
        <table id="main_table">
            <thead>
                <tr>
                    <th>From</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th>operations</th>
                </tr>
            </thead>
            <tbody>
                {{#each inbox}}
                <tr>
                    <td>{{from}}</td>
                    <td>{{message}}</td>
                    <td>{{date}}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a href="/admin/send-message/{{from}}"><button class="btn"
                                    style="background: rgb(42, 45, 255);font-weight:600;">Reply</button></a>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <center>
            <h1 class="mt-5">There Are No Messages in your Inbox </h1>
        </center>
        {{/if}}
    </div>
</div>
<div class="login-page" style="width: 80vw">
    <div class="form">
        <div style="display: flex;justify-content: space-between;margin-bottom:15px">
            <a href="/admin"><button style="background: rgb(206, 16, 16);"> Back</button></a>
            <h2 class="title" style="color: #2c3e50;"> Outbox </h2>
            <div></div>
        </div>
        {{#if outbox}}
        <table id="main_table">
            <thead>
                <tr>
                    <th>To</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {{#each outbox}}
                <tr>
                    <td>{{to}}</td>
                    <td>{{message}}</td>
                    <td>{{date}}</td>
                    <td>{{time}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <center>
            <h1 class="mt-5">There Are No Messages in your Outbox </h1>
        </center>
        {{/if}}
    </div>
</div>
<script>
    $(function () {
        $("#main_table").dataTable();
    });
</script>