<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #bdc3c7, #2c3e50);
    }

    .form {
        width: 100%
    }
</style>

<div class="login-page" style="width: 80vw">
    <div class="form">
        <div style="display: flex;justify-content: space-between;margin-bottom:15px">
            <a href="/admin"><button style="background: rgb(206, 16, 16);"> Back</button></a>
            <h2 class="title" style="color: #2c3e50;"> Messages </h2>
            <div></div>
        </div>
        {{#if messages}}
        <table id="main_table">
            <thead>
                <tr>
                    <th>From</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th>operations</th>
                </tr>
            </thead>
            <tbody>
                {{#each messages}}
                <tr>
                    <td>{{from}}</td>
                    <td>{{message}}</td>
                    <td>{{date}}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a href="/admin/send-message/{{_id}}"><button class="btn"
                                    style="background: rgb(42, 45, 255);font-weight:600;">Reply</button></a>
                            <a href="/admin/delete-message/{{_id}}"><button class="btn"
                                    style="background: rgb(255, 68, 68);font-weight:600;">DELETE</button></a>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <center>
            <h1 class="mt-5">There Are No Messages for you now </h1>
        </center>
        {{/if}}
    </div>
</div>
<script>
    $(function () {
        $("#main_table").dataTable();
    });
</script>