<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: #fff;
    }

    .card {
        background-color: rgba(209, 255, 245, 0.45);
        backdrop-filter: blur(5px);
    }

    .card:hover {
        transform: scale(1.01);
    }

    .navbar {
        background: linear-gradient(90deg, #d3d3e4, #888888);
    }

    a {
        text-decoration: none;
        transition: all .25s;

    }

    .navbar .text-light:hover {
        background: rgb(255, 54, 54);
        border-radius: 10px;
    }

    .ms-4 {
        font-size: 28px;
    }
</style>
<nav class="navbar navbar-light bg-light mb-5 d-flex justify-content-space-between">
    <h1 class="ms-4" style="font-weight: 700;">{{hospital.hospitalName}}</h1>
    <a class="text-light me-5 p-2" href="/" style="text-decoration: none;">Back</a>
</nav>
<div class="container library">
    {{#if departments}}
    <div class="row">
        <h1 style="font-weight: 600;">
            Departments
        </h1>
    </div>
    <div class="row">
        {{#each departments}}
        <div class="col-12  card m-3">
            <div class="p-2">
                <div class="container">
                    <h5><b>{{department}} Deartment</b></h5>
                    <h6> About : {{description}} </h6>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <center>
            <h1 style="color:white; transform:scale(1.2);transition:all 0.5s ease;">No departments Found !!!!</h1>
        </center>
    </div>
    {{/if}}
    {{#if doctors}}
    <div class="row">
        <h1 style="font-weight: 600;">
            Hospitals
        </h1>
    </div>
    <div class="row">
        {{#each doctors}}
        <div class="col-12  card m-3">
            <div class="p-1">
                <img style="width: 100%;max-height:300px;" src="/images/doctor/{{_id}}.jpg" alt="">
            </div>
            <div class="p-1">
                <div class="container">
                    <h5>Doctor's Name : <b>{{doctorName}}</b></h5>
                    <h5>Department : <b>{{department}}</b></h5>
                    <h6>About : {{bio}}</h6>
                    <a href="/book-doctor/{{_id}}" class="btn btn-primary text-light mt-3 mb-3">Make an
                        appoinment</a>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <center>
            <h1 style="color:white; transform:scale(1.2);transition:all 0.5s ease;">No Doctors Found !!!!</h1>
        </center>
    </div>
    {{/if}}
</div>